<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Sample</title>
    <link rel="stylesheet" href="../../assets/style.css"/>
</head>
<body ng-controller="myCtrl as $ctrl">

<h1>Angular Sample <img src="../../assets/spin.gif" /> </h1>

<button ng-if="!$ctrl.isDataLoaded" ng-click="$ctrl.showTable()">Show Table (Rows:{{$ctrl.rows}}, Cols: {{$ctrl.cols}})</button>
<button ng-if="$ctrl.isDataLoaded" ng-click="$ctrl.play()">** PLAY **</button>

<my-board data="$ctrl.data" events="$ctrl.events" ng-if="$ctrl.isDataLoaded"></my-board>


<script src="../../node_modules/angular/angular.js"></script>
<script src="../../node_modules/lodash/lodash.js"></script>
<script src="../../node_modules/minivents/dist/minivents.js"></script>
<script src="../../node_modules/react/dist/react-with-addons.js"></script>
<script src="../../node_modules/react-dom/dist/react-dom.js"></script>

<script src="../../common.js"></script>

<script src="app.js"></script>
<script src="builds/table.js"></script>

</body>
</html>